page-login {
    ion-content{
    background-image: url(/assets/img/login-bg.jpg);
    background-size: cover;
    }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
      display: none;
  }
  button{
    background-color: transparent!important;
    border: 1px solid orange;
    color: #fff;
  }
  button:active{
    background: orange;
    color: #fff;
  }
  .item-input{
    background-color: transparent;
  }
  ion-label{
    color: #fff;
  }
  .logo{
    text-align: center;
    margin-top: 40px;
  }
}

