page-login {
  ion-header{
    // background: transparent;
    
  }

    ion-content{
      background: linear-gradient(to bottom, rgba(255,50,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url(http://app.onbank.vn/public/image/login-bg.jpg) repeat 0 0;
      background-color:rgba(0, 0, 0, 0.5);
      background-size: cover; 
    }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
      display: none;
  }
  button{
    background-color: transparent!important;
    border: 1px solid orange;
    color: #fff;
  }
  button:active{
    background: orange;
    color: #fff;
  }
  .item-input{
    background-color: transparent;
  }
  ion-input{
    color: #fff;
  }
  .text-input{
    color: #fff!important;
  }
  ion-label{
    color: #fff;
  }
  .logo{
    text-align: center;
    margin-top: 40px;
  }
  .lggg{
    text-align: center;
    width: 100%;
    img{
      width: 50%;
      height: auto;
    }
  }
}

