page-register {
	::-webkit-scrollbar,
  *::-webkit-scrollbar {
      display: none;
  }
  ion-content{
      background: linear-gradient(to bottom, rgba(255,50,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url(http://app.onbank.vn/public/image/login-bg.jpg) repeat 0 0;
      background-size: cover; 
    }
    .item-input{
    	background-color: transparent;
    }
    button{
    background-color: transparent!important;
    border: 1px solid orange;
    // color: #000!important;
    color: #fff;
  }
  button:active{
    background: orange;
    color: #fff;
  }
  ion-input{
    color: #fff;
  }
  .text-input{
    color: #fff!important;
  }
  ion-label{
    color: #fff;
  }
}
