<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-tabs  #ionTabs [scrollable-tabs]="ionTabs" [opts]="scrollableTabsopts" selectedIndex="0" tabs-only tabsLayout="icon-top">
    <ion-tab *ngIf="tabs[0] && tabs[0].name" [root]="home" tabTitle="Home" tabIcon={{tabs[0].icon}}  ></ion-tab>
    <ion-tab *ngIf="tabs[1] && tabs[1].name" [root]="transaction" tabTitle="Giao dịch" tabIcon={{tabs[1].icon}}  ></ion-tab>
    <ion-tab *ngIf="tabs[2] && tabs[2].name" [root]="loan" tabTitle="Cho vay" tabIcon={{tabs[2].icon}} ></ion-tab>
    <ion-tab *ngIf="tabs[3] && tabs[3].name" [root]="interest" tabTitle="Thu lãi" tabIcon={{tabs[3].icon}} ></ion-tab>
    <ion-tab *ngIf="tabs[4] && tabs[4].name" [root]="finalize" tabTitle="Chốt sổ" tabIcon={{tabs[4].icon}} ></ion-tab>
    <!-- <ion-tab *ngIf="tabs[5].name" [root]="tab5" tabTitle="Chốt sổ" tabIcon="logo-usd" tabBadge="5"></ion-tab> -->
  </ion-tabs>
</ion-content>
