new-trade{
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
      display: none;
  }
  h4{
    padding-top: 5px;
  }
  .list-result{
    width: 100%;
  }
  .items{
    table{
      width: 100%;
      padding:10px;
      margin-bottom: 5px;
      padding:5px;
      background-color: #eee;
    }
  }
  .info{
    width: 100%;
    display: inline-flex;
    font-size: 13px;
    justify-content: space-between;
    

    ion-icon{
      color: red;
    }
  }
  tr{
    width: 100%;
    div{
      float: right;
    }
  }
  ion-navbar{
    button{
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius: 50%;
      background: #ddd;
      color: blue;
      font-weight: bold;

    }
  }
  .modal{
    tr{    margin-bottom: 5px;
      .w{
        background: #C0D5EF;
        margin-left: 10px;
        font-weight: bold;
        color: #1281D0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

      }
      td{
        border-bottom: 5px solid #fff;
        margin: 0;
        div{
          span{
            padding-left: 8px;
          }
        }
        &:first-child{
          margin-right: 5px;
        }
        i{
          color: #4281D0;
          font-size: 16px;
          width: 30px;
          // text-align: center;
          padding: 8px 5px;
        }
        div{
          float: left;
          // margin-left: 10px;
        }

        ion-input{
          border: 1px solid #ddd;
          background: #fff;
          padding-left: 8px;
        }
      }
    }
  }
  .lichthu{
    border: 1px solid #ddd;
    width: 100%;
    tr{
      width: 100%;
      td{
        text-align: center;
        padding: 5px 0;
        border: 1px solid #f2f2f2;
      }
      th{
        padding: 7px 0;
      }
      &:nth-child(odd){
        background: #f2f2f2;
        border: #f2f2f2;
        padding: 5px;
      }
    }
  }
  .search-box{
    form{
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      width: 100%;
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 3px;
      button{
        background: #fff;
        border-radius: 5px;
        ion-icon{
          color: #999;
          padding-left: 3px;
        }
      }

      ion-input{
        color: #000;
        padding-left: 10px;
      }
    }
  }
}
