page-home {
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
      display: none;
  }
}
thulai-modal, db-modal{
	table{
		width: 100%;
		tbody{
			width: 100%;
			td> div{
				width: 100%;
			}
		}
	}
}