<ion-header>

  <ion-navbar>
    <ion-title>{{data.khach_hang.tenkh}}</ion-title>
<!--     <ion-buttons end>
      <button (click)="editEnable()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </ion-buttons> -->
    <ion-buttons start>
      <button (click)="dismiss()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <table class="modal">
    <tbody>
      <ion-input type=hidden [(ngModel)]="data.id"></ion-input>
      <tr>
        <td  class="w"><div><i class="fa fa-usd" aria-hidden="true"></i><span> Tổng tiền</span></div></td>
        <td><div><ion-input [readonly]="enableEdit ? false : true" type="number" [(ngModel)]="data.so_tien"></ion-input></div></td>
      </tr>
      <!-- [attr.enableEdit]="true ? null : 'readonly'" -->
      <tr>
        <td  class="w"><div><i class="fa fa-tags" aria-hidden="true"></i><span> Chi phí</span></div></td>
        <td><div><ion-input [readonly]="enableEdit ? false : true" type="number" [(ngModel)]="data.chi_phi"></ion-input></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-user" aria-hidden="true"></i><span> Ngày vay</span></div></td>
        <td *ngIf="!enableEdit">
          <div><span>{{dateConvert(data.ngay_vay)}}</span></div>
        </td>
        <td *ngIf="enableEdit"><div class="hack"><ion-datetime displayFormat="M/D" (ionChange)="onChangehere()" pickerFormat="MMMM D" [(ngModel)]="summaryDate"></ion-datetime></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-tags" aria-hidden="true"></i><span> Khách hàng</span></div></td>
        <td><div><ion-input [readonly]="enableEdit ? false : true" type="text" [(ngModel)]="data.khach_hang.name"></ion-input></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-tags" aria-hidden="true"></i><span> SDT</span></div></td>
        <td><div><ion-input [readonly]="enableEdit ? false : true" type="number" [(ngModel)]="data.khach_hang.phone"></ion-input></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-user" aria-hidden="true"></i><span> CMT</span></div></td>
        <td><div><ion-input [readonly]="enableEdit ? false : true" type="number" [(ngModel)]="data.khach_hang.identity_no"></ion-input></div></td>
      </tr>
    </tbody>
  </table>
  <h3>Tài sản</h3>
  <p *ngIf="!data.tai_san">Chưa cập nhật</p>
  <div class="ts" *ngIf="data.tai_san">
    <p *ngIf="data.title_ts">{{data.title_ts}}</p>
    <img *ngFor="let ts of imgs" [src]="ts" alt="">
  </div>
  <h3>Lịch trả lãi</h3>
  <table class="lichthu">
    <tr>
      <th>Nhân viên</th>
      <th>Thời gian</th>
      <th>Số tiền (VND)</th>
    </tr>
    <tr *ngFor="let lt of lich_thu">
      <td>{{lt.nhanvien}}</td>
      <td>{{dateConvert(lt.thoigian*1000)}}</td>
      <td>{{styleNumber(lt.sotien)}}</td>
    </tr>
    <!-- <tr>
      <td>Nhân viên A</td>
      <td>7/14</td>
      <td>500.000</td>
    </tr> -->
  </table>

  <button ion-button class="button button-block" (click)="edit()" *ngIf="enableEdit">Edit Submit</button>
<!--   <button ion-button class="button button-block"(click)="tattoan()" >Thanh toán toàn bộ</button> -->
</ion-content>

<!-- {{toArray(data.khach_hang).tenkh}} -->
