<ion-header>

  <ion-navbar>
    <ion-title>Thêm mới</ion-title>
    <!-- <ion-buttons end>
      <button (click)="editEnable()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </ion-buttons> -->
    <ion-buttons start>
      <button (click)="dismiss()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <!-- <table class="modal">
    <tbody>
      <ion-input type=hidden [(ngModel)]="data.id"></ion-input>
      <tr>
        <td  class="w"><div><i class="fa fa-usd" aria-hidden="true"></i><span> Tổng tiền</span></div></td>
        <td><div><ion-input type="number" [(ngModel)]="data.so_tien"></ion-input></div></td>
      </tr>
      [attr.enableEdit]="true ? null : 'readonly'"
      <tr>
        <td  class="w"><div><i class="fa fa-tags" aria-hidden="true"></i><span> Chi phí</span></div></td>
        <td><div><ion-input type="number" [(ngModel)]="data.chi_phi"></ion-input></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-user" aria-hidden="true"></i><span> Ngày vay</span></div></td>
        <td *ngIf="!enableEdit">
          <div><span>112</span></div>
        </td>
        <td *ngIf="enableEdit"><div><ion-datetime displayFormat="M/D" (ionChange)="onChangehere()" pickerFormat="MMMM D" [(ngModel)]="summaryDate"></ion-datetime></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-tags" aria-hidden="true"></i><span> Khách hàng</span></div></td>
        <td><div><ion-input type="number" value="100000"></ion-input></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-tags" aria-hidden="true"></i><span> SDT</span></div></td>
        <td><div><ion-input type="number" [(ngModel)]="data.sdt"></ion-input></div></td>
      </tr>
      <tr>
        <td  class="w"><div><i class="fa fa-user" aria-hidden="true"></i><span> CMT</span></div></td>
        <td><div><ion-input type="number" [(ngModel)]="data.cmt"></ion-input></div></td>
      </tr>
    </tbody>
  </table> -->
    Some field
  <!-- <button ion-button class="button button-block"  *ngIf="enableEdit">Edit Submit</button> -->
</ion-content>

<!-- {{toArray(data.khach_hang).tenkh}} -->
