<!--
  Generated template for the TradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <div class="hack-header">
        <ion-label><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></ion-label>
        <ion-datetime (ionChange)="onChangehere()" pickerFormat="MMMM D" [(ngModel)]="summaryDate"></ion-datetime>
      </div>
    </ion-buttons>
    <ion-title>Giao dịch</ion-title>
    <ion-buttons end>
      <button (click)="addNew()">
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="search-box">
    <form (ngSubmit)="search()">
      <ion-input [(ngModel)]="trade.search" name="user" placeholder="Search.."></ion-input>
      <button type="submit"><ion-icon name="search"></ion-icon></button>
    </form>
  </div>
  <div class="day-report">
    <table *ngFor="let day of out" padding>
      <thead>
        <tr>
          <td class="day">{{viewDay(day.day)}}</td>
          <td class="cr-money">{{styleNumber(tinhtongtien(day))}}</td>
          <td>
            <p class="tb"><span>Cần thu: </span><span class="g target">{{styleNumber(canthu(day)['out'])}}</span></p>
            <p class="tb"><span>Đã thu: </span><span class="g achievement">{{styleNumber(dathu(day)['out'])}}</span></p>
          </td>
        </tr>
      </thead>
      <tbody padding>
        <tr *ngFor="let gd of day.value" (click)="clickme()">
          <td>{{gd.time}}</td>
          <td>
            <p class="nm">{{gd.customer}}</p>
            <p class="ph"><ion-icon name="call"></ion-icon> 0969538900</p></td>
          <td padding-top class="status tb">
            <ion-icon class="out" name="log-out"></ion-icon>
            <span>{{styleNumber(gd.chi_phi)}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
