thulai-modal{
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
      display: none;
  }
  // ion-input{
  //   input{
  //     text-align: right!important;
  //   }
  // }
  img{
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .hack{
    width: 100%;
    height: 40px;
    position: relative;
    float: right;
    overflow: hidden;
    ion-datetime{
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 40px;
    }
  }
  tr{
    width: 100%;
    div{
      float: right;
    }
  }
  ion-navbar{
    button{
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius: 50%;
      background: #ddd;
      color: blue;
      font-weight: bold;

    }
  }
  .modal{
    tr{    margin-bottom: 5px;
      .w{
        background: #C0D5EF;
        margin-left: 10px;
        font-weight: bold;
        color: #1281D0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

      }
      td{
        border-bottom: 5px solid #fff;
        margin: 0;
        div{
          span{
            padding-left: 0px;
          }
        }
        &:first-child{
          margin-right: 5px;
        }
        i{
          color: #4281D0;
          font-size: 16px;
          width: 30px;
          // text-align: center;
          padding: 8px 0px 8px 3px;
        }
        div{
          float: left;
          // margin-left: 10px;
        }

        ion-input{
          border: 1px solid #ddd;
          background: #fff;
          padding-left: 8px;
        }
      }
    }
  }
  .lichthu{
    border: 1px solid #ddd;
    width: 100%;
    tr{
      width: 100%;
      td{
        text-align: center;
        padding: 5px 0;
        border: 1px solid #f2f2f2;
      }
      th{
        padding: 7px 0;
      }
      &:nth-child(odd){
        background: #f2f2f2;
        border: #f2f2f2;
        padding: 5px;
      }
    }
  }


  table{
    width: 100%;
    tr{
      width: 100%;
    }
  }
  .sum{
    .item-ios.item-block .item-inner{
      border: none!important;
    }
    td{
      ion-label{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 8px 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background: #C0D5EF;

        ion-icon{
          text-align: center;
          color: #4281D0;
          width: 25%;
          font-size: 20px;
        }
      }
      ion-input{
        padding-left: 10px;
      }
      ion-input{
        margin: 1px;
        border: 1px solid #ddd;
      }
      ion-select{
        width: 100%;
        margin: 1px;
        border: 1px solid #ddd;
      }
      ion-item{
        padding:0;
        border: none;
      }
    }
  }




}
