<!--
  Generated template for the TradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <div class="hack-header">
        <ion-label><i class="fa fa-calendar-check-o" aria-hidden="true"></i></ion-label>
        <ion-datetime (ionChange)="onChangehere()" pickerFormat="MMMM D" [(ngModel)]="summaryDate"></ion-datetime>
      </div>
    </ion-buttons>
    <ion-title>Danh sách chốt sổ</ion-title>
    <ion-buttons end>
      <button class="pencil" (click)="ref()">
        <i class="fa fa-repeat" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="search-box">
    <form (ngSubmit)="search()">
      <ion-input [(ngModel)]="key" name="user" placeholder="Search.."></ion-input>
      <button type="submit"><ion-icon name="search"></ion-icon></button>
    </form>
  </div>
  <div class="day-report">
    <table *ngFor="let day of out" padding>
      <tbody padding *ngFor="let gd of day.value.date_item">
        <tr *ngIf="gd.status == 1" (click)="clickme(gd)">
          <td><p>{{gd.time}}</p><p class="nhonho">{{gd.day}}</p></td>
          <td>
            <p class="nm">{{gd.tenkhach}}</p>
            <p class="ph"><ion-icon name="call"></ion-icon> {{gd.sdt}}</p></td>
          <td padding-top class="status tb">
            <ion-icon *ngIf="gd.type =='0'" class="out" name="log-out"></ion-icon>
            <ion-icon *ngIf="gd.type =='1'" class="in" name="log-in"></ion-icon>
            <span>{{(gd.so_tien)}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
