page-sum {
  .cd-list{
    background: transparent;
    font-size: 13px;
    ion-item{
      // background: #C0D5EF;
      padding-left: 0;
      padding-right: 0;
      ion-label{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-weight: bold;
        width: 35%;
        margin: 0;
        color: #4281D0;
        background: #C0D5EF;
            font-size: 13px;
        // height: 100%;
        // margin: auto;
        span{
          padding-left: 5px;
          background: #C0D5EF;
        }
      }
      ion-input{
        background: #fff;

      }
    }
    ion-icon{
      font-size: 24px;
      padding: 5px;
              background: #C0D5EF;
              border-right: 3px solid #fff;
    }
  }
  .no{
    background: #fff;
    color: #000;
    font-size: 15px;
    span{
      padding-left: 5px;
      // background: #fff!important;
      color: #000;
    }
    ion-label{
      background: #fff!important;
      color: #000!important;
      font-size: 15px!important;
    }
  }
}
