page-sum {
  table{
    width: 100%!important;
  }
  .select-ios{
    padding: 0;
  }
 .item-inner{
  border-bottom: 0!important;
 }
  .in-l{
    display: flex;
    justify-content: space-between;
  }
  .infos{
    width: 100%;
    .field{
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
    }
  }
  ion-select{
    max-width: 100%;
    min-width: 140px;
    padding-right: 5px!important;
    font-size: 12px;
  }
  // sssssssss
    ion-input{
      input{
        text-align: right;
      }
    }
    table.cd-list{
      width: 100%;
      td:first-child{
        width: 40%;
      }
      td{
        ion-label{
          padding: 0;
          margin: 0;
          // width: 100%;
          // height: 100%;
          padding: 8px 0;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          background: #488aff;
          color: #fff;
          border: 2px solid #488aff;
          font-size: 16px;

          ion-icon{
            text-align: center;
            // color: #488aff;
            color: #ddd;
            // width: 25%;
            padding: 0 5px;
            font-size: 20px;
          }
        }
        ion-input{
          padding-left: 10px;
        }
        ion-input{
          margin: 1px;
          border: 1px solid #ddd;
        }
      }
      tr.no{
        // td{
        //   ion-label{
        //     background: #ccc;
        //   }
        //   text-align: center;
          // ion-toggle{
          //   margin: 0 auto;
          // }
        // }
      }
      .ghichu{
        width: 100%;

        ion-textarea{
          width: 100%;
          margin:10px 0;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding : 0  10px;
        }

      }
    }
    .btn{
      background: transparent;
      border: 1px solid orange;
      color: #4281D0;
      i{
        margin-right: 5px;
      }
    }
    ion-select.select.select-ios.ng-valid.ng-touched.ng-dirty{
      min-width: 140px;
    }
    .custom-listview{
      list-style: none;
      padding-left: 0;
      li{
        border: 1px solid #eee;
        padding: 5px;
        i{
            width: 15px;
        }
      }
    }
  }
