page-boc-ho {
  table.cd-list{
    width: 100%;
    td{
      ion-label{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 8px 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background: #C0D5EF;

        ion-icon{
          text-align: center;
          color: #4281D0;
          width: 25%;
          font-size: 20px;
        }
      }
      ion-input{
        padding-left: 10px;
      }
      ion-input{
        margin: 1px;
        border: 1px solid #ddd;
      }
    }
    tr.no{
      td{
        ion-label{
          background: #ccc;
        }
        text-align: center;
        ion-toggle{
          margin: 0 auto;
        }
      }
    }
  }
  .btn{
    background: transparent;
    border: 1px solid orange;
    color: #4281D0;
    i{
      margin-right: 5px;
    }
  }
}
